// variable
:root {
    --font-body: "Albert Sans", serif;
    --font-heading: "Plus Jakarta Sans", serif;
    --font-default: "Lora", serif;

    --color-primary: #e6fa00;
    --color-primary-two: #FCCA03;
    --color-heading:  #0d0d0d;
    --color-secondary:  #310875;

    --color-default:  #444a4b;
    --color-white: #fff;
    --color-black: #000;
    --color-body: #fff;

    --easing: cubic-bezier(0.67, 0.04, 0.3, 0.91);
}