.blog-item {
    gap: 68px;
    .xb-item {
        &--author {
            transform: translateY(10px);
        }
        &--avater {
            margin-right: 16px;
        }
        &--desig {
            font-size: 24px;
            font-weight: 600;
            color: var(--color-secondary);
        }
        &--date {
            font-size: 30px;
            margin-top: 25px;
            display: inline-block;
            color: var(--color-secondary);
        }
        &--title {
            font-size: 40px;
            margin-bottom: 22px;
            color: var(--color-secondary);
            a {
                color: currentColor;
            }
            @include respond(lg) {
                font-size: 30px;
            }
        }
        &--content {
            max-width: 634px;
            text-transform: capitalize;
            color: var(--color-secondary);
        }
        &--holder {
            flex-basis: 0;
            flex-grow: 1;
            padding-right: 210px;
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                padding-right: 180px;
            }
            @include respond(lg) {
                padding-right: 172px;
            }
            @include respond(md) {
                flex-grow: unset;
                flex-basis: unset;
                padding-right: 0;
            }
        }
    }
}
.blog-nav-item {
    margin-top: 60px;
    border-bottom: 1px solid rgba(50, 8, 117, 0.5);
    img {
        @include border-radius(16px);
    }
    .xb-meta {
        margin: 30px 0 22px;
        .xb-view {
            gap: 48px;
        }
        ul li {
            color: var(--color-secondary);
        }
    }
}
.blog-wrap {
    .blog-slide-btn {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        height: 70px;
        width: 70px;
        @include center;
        color: #310875;
        border: 1px solid #310875;
        @include border-radius(100%);
        @include transition(.3s);
        background: rgb(219, 251, 255);
        @include respond(xs) {
            width: 50px;
            height: 50px;
            top: auto;
            bottom: -85px;
            right: 35%;
        }
        i {
            @include transition(.3s);
        }
        &:hover {
            background: #310875;
            i {
                color: var(--color-white);
            }
        }
    } 
    .xb-swiper-button-prev {
        right: 86px;
        @include respond(xs) {
            right: 52%;
        }
    }
}
.ps-blog-item {
    .xb-item {
        &--img {
            overflow: hidden;
            position: relative;
            @include border-radius(16px);
            &::after {
                content: "";
                position: absolute;
                width: 200%;
                height: 0%;
                left: 50%;
                top: 50%;
                background-color: rgba(255,255,255,.3);
                transform: translate(-50%,-50%) rotate(-45deg);
                z-index: 1;
            }
            img {
                width: 100%;
                object-fit: cover;
                object-position: center center;
                transition: all 0.3s ease-out;
            }
        }
        &--meta {
            gap: 35px;
            margin: 16px 0 20px;
            
            li {
                color: #0d0d0d; 
                position: relative;
                &::before {
                    position: absolute;
                    content: '|';
                    right: -19px;
                    top: 8px;
                    font-size: 5px;
                    height: 18px;;
                    background: #000;
                }
                &:last-child {
                    &::before {
                        display: none;
                    }
                }
            }
        }
        &--title {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.5;
            
            color: #0d0d0d;
            text-transform: initial;
            a {
                color: currentColor;
            }
        }
    }
    &:hover {
        .xb-item--img {
            &::after {
                height: 250%;
                transition: all 600ms linear;
                background-color: transparent;
            }
             img {
                @include transform(scale(1.02));
            }
        }
    }
}

// inner page contetn style 
.blog-item-heading {
    padding-bottom: 31px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.blog-big-item {
    &:not(:last-child) {
        margin-bottom: 90px;
    }
    .xb-item {
        &--img {
            overflow: hidden;
            display: inline-block;
            img {
                @include transition(.3s);
            }
        }
        &--date {
            font-size: 24px;
            font-weight: 400;
            color: var(--color-black);
            font-family: var(--font-default);
        }
        &--title {
            font-size: 36px;
            font-weight: 400;
            line-height: 50px;
            margin: 30px 0 35px;
            color: var(--color-black);
            @include respond(lg) {
                font-size: 32px;
            }
            @include respond(xs) {
                font-size: 28px;
                line-height: 45px;
            }
            a {
                color: currentColor;
            }
        }
        &--read-btn {
            font-size: 30px;
            font-weight: 500;
            letter-spacing: -0.01em;
            color: #00322f;
            text-transform: capitalize;
            @include respond(lg) {
                font-size: 25px;
            }
        }
        &--holder {
            margin-top: 30px;
        }
    }
    &:hover {
        .xb-item--img img {
            transform: scale(1.03);
        }
    }
}
.blog-small-item {
    .xb-item {
        &--date {
            font-size: 14px;
        }
        &--title {
            font-size: 18px;
            line-height: 26px;
            margin: 8px 0 25px;
        }
        &--read-btn {
            font-size: 14px;
        }
        &--holder {
            margin-top: 6px;
            @include respond(xs) {
                padding-right: 80px;
            }
        }
    }
}
.blog-testimonial {
    .xb-item {
        &--content {
            font-size: 30px;
            display: inline-flex;
            margin: 40px 0 60px;
            line-height: 40px;
            color: var(--color-white);
            text-transform: capitalize;
            @include respond(md) {
                font-size: 25px;
            }
        }
        &--avatar {
            margin-right: 16px;
            border: 1px solid #e6fa00;
            @include border-radius(100px);
        }
        &--name {
            font-size: 24px;
            font-weight: 500;
            color: var(--color-white);
        }
        &--date {
            color: var(--color-white);
            font-family: var(--font-default);
        }
    }
}
// blog-details page style 
.blog_details_content {
    margin-right: 10px;
    p {
        color: var(--color-black);
        text-transform: initial;
    }
}
.blog_details_item {
    .xb-item {
        &--post-meta {
            margin: 12px 0 20px;
            li {
                color: var(--color-black);
                @include respond(xs) {
                    font-size: 16px;
                }
                img {
                   margin-right: 10px;
               }
            }
            ul {
                gap: 32px;
            }
        }
    }
}
.image_block a {
	overflow: hidden;
    display: inline-block;
    img {
        @include transition (.3s);
    }
    &:hover {
        img {
            transform: scale(1.03);
        }
    }
}
.comments_list {
	gap: 45px;
	>li {
		.comments_list {
			gap: 40px;
			padding: 43px  0 0 105px;
            @include respond(xs) {
                padding: 43px 0 0 60px;
            }
		}
	}
}
.comment_item {
	gap: 30px;
	display: flex;
    @include respond(xs) {
        flex-direction: column;
    }
	.comment_author_thumbnail {
		width: 80px;
		height: 80px;
		flex: 0 0 auto;
		overflow: hidden;
		border-radius: 100%;
	}
	.comment_author_content {
		position: relative;
	}
	.comment_author_name {
        font-weight: 500;
        font-size: 22px;
		line-height: 1;
		margin-bottom: 25px;
        color: #0d0d0d;
        letter-spacing: -0.02em;
        text-transform: capitalize;
	}
	.comment_time {
		line-height: 1;
		font-size: 16px;
		margin-bottom: 20px;
	}
	.comment_reply_btn {
		top: 0;
		right: 0;
        font-size: 20px;
		font-weight: 500;
        color: #00322f;
		position: absolute;
        letter-spacing: -0.01em;
        @include transition(.3s);
        @include respond(xs) {
            position: static;
            margin-top: 15px;
            display: inline-block;
        }
		&:hover {
			text-decoration: underline;
		}
	}
}
