/*----------------------------------------*/
/*  22. breadcrumb
/*----------------------------------------*/
.breadcrumb {
	min-height: 550px;
	padding: 120px 0;
	margin: 0;
	display: flex;
	align-items: center;
    @include respond(lg) {
        min-height: 450px;
    }
    @include respond(xs) {
        padding: 100px 0;
        min-height: 400px;
        background-position: center left;
    }
    &__content {
        padding-top: 150px;
        @include respond(lg) {
            text-align: center;
        }
        @include respond(md) {
            padding-top: 110px;
        }
    }
    &__title {
        font-size: 90px;
        font-weight: 600;
        margin-bottom: 9px;
        letter-spacing: 0em;
        color: var(--color-white);
        @include respond(lg) {
            font-size: 60px;
        }
        @include respond(xs) {
            font-size: 36px;
        }
    }
    &__list {
        display: inline-block;
        li {
            font-size: 20px;
            font-weight: 700;
            position: relative;
            letter-spacing: 0em;
            display: inline-block;
            color: var(--color-white);
            text-transform: uppercase;
            @include respond(xs) {
                font-size: 16px;
            }
            a {
                color: var(--color-dark);
            }
            &.breadcrumb-item::before {
                color: var(--color-white);
            }
        }
    }
}
.breadcrumb-item + .breadcrumb-item {
	padding-left: 0;
    margin-left: -5px;
    &::before {
        padding-right: 1px;
        content: var(--bs-breadcrumb-divider, "_");
    }
}