.xb-item-item {
    gap: 35px;
    margin-top: 30px;
    @include respond(lg) {
        gap: 20px;
    }
    @include respond(xs) {
        gap: 35px;
    }
    &:not(:last-child) {
        padding-right: 50px;
        border-right: 1px solid #fff;
        @include respond(lg) {
            padding-right: 10px;
        }
        @include respond(md) {
            padding-right: 30px;
        }
        @include respond(xs) {
            width: 100%;
            border-right: 0;
            padding-right: 0;
            padding-bottom: 20px;
            border-bottom: 1px solid #fff;
            
        }
    }
    .xb-item {
        &--number {
            font-size: 60px;
            color: var(--color-primary);
            font-family: var(--font-heading);
            @include respond(lg) {
                font-size: 50px;
            }
            @include respond(xs) {
                width: 143px;
            }
        }
        &--content {
            color: var(--color-white);
            max-width: 157px;
        }
    }
}