.xb-feature-item {
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        width: 200%;
        height: 0%;
        left: 50%;
        top: 50%;
        background-color: rgba(255,255,255,.3);
        transform: translate(-50%,-50%) rotate(-45deg);
        z-index: 1;
    }
    .xb-item {
        &--title {
            position: absolute;
            top: 70px;
            left: 80px;
            font-size: 40px;
            font-weight: 700;
            color: var(--color-white);
            @include respond(laptop) {
                left: 50px;
            }
            @include respond(lg) {
                top: 50px;
                left: 40px;
                font-size: 30px;
            }
            @include respond(md) {
                top: 30px;
                left: 20px;
                font-size: 24px;
            }
            @include respond(xs) {
                top: 70px;
                font-size: 28px;
            }
        }
        &--img {
            width: 100%;
            object-fit: cover;
            display: inline-block;
            object-position: center center;
            transition: all 0.3s ease-out;
            img {
                max-width: unset;
            }
            @include respond(md) {
                height: 450px;
            }
            @include respond(xs) {
                height: 400px;
            }
        }
        &--arrow {
            position: absolute;
            left: 85px;
            bottom: 144px;
            display: inline-flex;
            @include transition(.3s);
            @include respond(laptop) {
                bottom: 80px;
                left: 50px;
            }
            @include respond(lg) {
                left: 40px;
                bottom: 50px;
                max-width: 20%;
            }
            @include respond(md) {
                left: 20px;
                bottom: 30px;
            }
            @include respond(xs) {
                bottom: 70px;
            }
            svg path {
                @include transition(.3s);
            }
        }
    }
    &:hover {
        &:after {
            height: 250%;
            transition: all 600ms linear;
            background-color: transparent;
        }
        .xb-item--img {
            @include transform(scale(1.02));
        }
        .xb-item--arrow {
            @include transform(translateX(5px));
            svg path {
                fill: #e6fa00;
            }
        }
    }
}
.feature-col {
    &:not(:last-child) {
        @include respond(xs) {
            margin-bottom: 10px;
        }
    }
}