.xb-industries-item {
    background: #fff;
    padding: 30px 30px 35px;
    @include border-radius(8px);
    @include transition(.3s);
    @media only screen and (max-width: 1023px) {
        padding: 30px 25px 35px;
    }
    @include respond(md) {
        padding: 30px 30px 35px;
    }
    @include respond(xs) {
        text-align: center;
    }
    .xb-title {
        font-size: 24px;
        font-weight: 500;
        margin-top: 60px;
        color: var(--color-secondary);
        @include respond(lg) {
            font-size: 20px;
        }
    }
    .xb-icon {
        min-height: 68px;
        display: inline-block;
    }
    &:hover {
        @include transform(scale(1.02));
    }
}
.industries-content {
    line-height: 32px;
    text-align: center;
    margin-top: 60px;
    color: var(--color-secondary);
}
.industries-btn {
    .commercial-btn {
        border: 2px solid #310875;
        @include transition(.3s);
        &:hover {
            color: var(--color-black);
        }
    }
}