.infographic-left-content {
    gap: 30px;
    margin-right: -7px;
    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        flex-wrap: nowrap;
    }
    @include respond(lg) {
        flex-wrap: nowrap;
    }
    @include respond(xs) {
        gap: 15px;
        margin-right: 0;
    }
    .xb-img {
        overflow: hidden;
        @include border-radius(16px);
    }
}
.infographic-right-content {
    margin-left: 57px;
    @include respond(md) {
        margin-left: 0;
    }
    .xb-content {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
        &:nth-child(3) {
            margin-bottom: 45px;
        }
    }
}
.infographic-shape {
    position: absolute;
    right: 47px;
    bottom: 0;
    @include respond(xs) {
        right: 10px;
        
        max-width: 25%;
    }
}