.service-item {
    padding: 1px;
    z-index: 2;
    overflow: hidden;
    @include border-radius(21px);
    background: linear-gradient(180deg, #e6fa00 0%, rgba(102, 102, 102, 0.28) 100%);
    position: relative;
    &::after {
        position: absolute;
        content: '';
        top: 1px;
        left: 1px;
        z-index: 1;
        height: 99.6%;
        width: 99.6%;
        opacity: 1;
        background: #310875;
        @include transition(.3s);
       border-radius: inherit;
       @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        width: 99.5%;
       }
       @include respond(md) {
        width: 99.5%;
       }
    }
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        opacity: 0;
        background: #e6fa00;
        @include transition(.3s);
    }
    &:hover {
        &::before {
            opacity: 1;
        }
        .xb-item {
            &--icon svg path {
                fill: #0d0d0d;
            }
            &--title {
                color: #0d0d0d;
            }
            &--content {
                color: #0d0d0d;
            }
        }
    }
    .xb-item {
        &--inner {
            z-index: 3;
            position: relative;
            padding: 38px 20px 40px 40px;
            @include transition(.3s);
            @media only screen and (min-width: 1200px) and (max-width: 1300px) {
                padding: 38px 30px 40px 32px;
            }
            @include respond(md) {
                padding: 38px 10px 40px 20px;
            }
        }
        &--title {
            font-size: 30px;
            color: var(--color-white);
            letter-spacing: -0.01em;
            @include transition(.3s);
        }
        &--icon {
            min-height: 131px;
            text-align: center;
            margin: 54px 0 30px;
            svg path {
                @include transition(.3s);
            }
        }
        &--content {
            font-weight: 400;
            @include transition(.3s);
        }
    }
}
.xb-service-slider {
    padding-bottom: 100px;
    .swiper-pagination-fraction {
        position: absolute;
        text-align: end;
        right: 0;
        left: auto;
        font-size: 20px;
        bottom: 25px;
    }
    .swiper-pagination-current::before,
    .swiper-pagination-total::before {
        content: '0';
    }
    .swiper-pagination-total {
        color: rgba(255, 255, 255, 0.5);
    } 
    .swiper-pagination-progressbar {
        height: 2px;
        margin-top: 10px;
        position: relative;
        overflow: hidden;
        width: 87.8%;
        top: 63px;
        background: rgba(255, 255, 255, 0.5);
        @include respond(xs) {
            width: 73.8%;
        }
    }
    .swiper-pagination-progressbar::before {
        content: '';
        position: absolute;
        height: 100%;
        width: var(--progress, 0%);
        background: #e6fa00;
        transition: width 0.3s;
    }
}

//inner page content style
.xb-details-title {
    font-size: 30px;
    font-weight: 400;
    color: var(--color-black);
}
.ser-details-content {
    margin-top: 23px;
    color: var(--color-black);
}
.ser-benefit-item {
    li {
        font-size: 24px;
        font-weight: 500;
        color: var(--color-black);
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        .xb-check {
            height: 40px;
            width: 40px;
            margin-right: 16px;
            @include center;
            display: inline-flex;
            @include border-radius(100px);
            background: linear-gradient(180deg, #225530 0%, #e6fa00 100%);
        }
    }
}
.ser-benefit-item-img {
    gap: 30px;
    float: right;
    @include respond(lg) {
        flex-wrap: nowrap;
    }
    @include respond(xs) {
        flex-wrap: wrap;
    }
}
.ser-installation-process-item {
    text-align: center;
    min-height: 347px;
    padding: 30px 45px 23px;
    background: var(--color-white);
    @include respond(lg) {
        padding: 30px 10px 23px;
    }
    @include respond(md) {
        padding: 30px 45px 23px;
    }
    .xb-item {
        &--number {
            height: 82px;
            width: 82px;
            font-size: 40px;
            @include center;
            display: inline-flex;
            color: var(--color-white);
            @include border-radius(100px);
            background: linear-gradient(180deg, #225530 0%, #e6fa00 100%);
        }
        &--title {
            font-size: 30px;
            font-weight: 400;
            margin: 20px 0 24px;
            letter-spacing: 0em;
            line-height: 40px;
            color: var(--color-black);
        }
        &--content {
            color: #0d0d0d;
        }
    }
}
.process-content {
    text-align: center;
    margin: 60px 0 30px;
    color: var(--color-white);
    a {
        color: var(--color-primary);
    }
}